{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "extends": ["airbnb-base", "plugin:react/recommended"],
    "rules": {
    "no-console": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-cycle": 0,
    "spaced-comment": 0,
    "import/order": 0,
    "object-curly-newline": 0,
    "max-len": 0,
    "import/no-unresolved": 0
  }
}