/*main chart*/
.mainChart {
    margin-top: 2%;
}
.paperShowResult{
    margin-top: 3%;
}
.bgPaper{
    background-color: antiquewhite;
}
.iconStyle{
    width: 50px;
    padding-right: 10px;
}
.centeredProgress {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}
#homeCourse {
    margin-bottom: 2%;
}
